<<<<<<< HEAD
.share-button {
    background-color: rgba(62, 136, 80, 0.776);
    margin-right: 4px;
    height: 30px;
    width: 55px;
    color: rgb(34, 5, 4);
}

.back-button {
    background-color: rgba(62, 136, 80, 0.776);
    margin-right: 4px;
    height: 30px;
    width: 55px;
    color: rgb(34, 5, 4);
=======
.share-button {
    background-color: rgba(62, 136, 80, 0.776);
    margin-right: 4px;
    height: 30px;
    width: 55px;
    color: rgb(34, 5, 4);
}

.back-button {
    background-color: rgba(62, 136, 80, 0.776);
    margin-right: 4px;
    height: 30px;
    width: 55px;
    color: rgb(34, 5, 4);
>>>>>>> a22ba8e105576088539db90eed3c976d19666723
}